<li>
  <img src={{announcement.image}} alt={{announcement.title}}>
  {{announcement.title}}
  {{announcement.body}}
  {{announcement.date}}
  <button {{action 'delete' announcement}}>Delete</button>
</li>
